<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <!-- Logo and Brand -->
    <a class="navbar-brand d-flex align-items-center" href="https://gita.edu.in" target="_blank">
      <img src="../public/images/logo.png" alt="GITA Alumni Logo" width="150" height="40"
        class="d-inline-block align-text-top me-2" />
      GITA Alumni
    </a>

    <!-- Toggler Button -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navigation Links -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <!-- Back Button -->
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" onclick="window.history.back()" href="#">Back</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
