<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/styles.css">
    <title>Delete Account</title>
    <style>

        .navbar,
        .form-control,
        label {
            color: #fff;
        }

        .form-container {
            background-color: rgba(0, 0, 0, 0.7);
            padding: 30px;
            border-radius: 10px;
            border: 2px solid #ddd;
        }

        .form-container h2 {
            color: #fff;
        }

        .form-control {
            color: #000;
            background-color: #fff;
        }


        h2 {
            color: rgb(255, 255, 255);
        }
    </style>
</head>

<body>
    <!-- Navigation Bar (Optional) -->
    {{>mainheader}}

    <!-- Login Form Content -->
    <div class="container mt-5 form-container mx-auto">

        <form action="/deleteaccount" method="POST">
            <!-- Roll No -->
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" name="password" required>
            </div>

            
            <u style="color:red;">
                <h1 class="text-center" style="color:red; margin:20px;">Captcha</h1>
            </u>
            <img src="../public/images/captcha1.png" class="rounded mx-auto d-block" alt="Roll no acceptable">

            <div class="mb-3">
                <label for="captcha" class="form-label">Captcha</label>
                <input type="text" class="form-control" id="captcha" name="captcha" required>
            </div>

            <button type="submit" class="btn btn-primary w-100">Delete</button>
            <div id="messages">
                    {{#if success}}
                    <div class="alert alert-success">{{success}}</div>
                    {{/if}}
                    {{#if warn}}
                    <div class="alert alert-warning">{{warn}}</div>
                    {{/if}}
                </div>
        </form>
    </div>

    <!-- Bootstrap 5 JS file -->
    <script src="../public/js/bootstrap.bundle.js"></script> <!-- Bootstrap 5 JS -->
    {{>footer}}
</body>

</html>

<script>
    if (window.history.replaceState) {
        window.history.replaceState(null, null, window.location.href);
    }
</script>