<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="../public/css/bootstrap.min.css"> 
    <link rel="stylesheet" href="../public/css/styles.css"> 
    <title>Login</title>
    <style>
        .navbar, .form-control, label {
            color: #fff; 
        }

        .form-container {
            background-color: rgba(0, 0, 0, 0.7); 
            padding: 30px;
            border-radius: 10px;
            border: 2px solid #ddd; 
        }

        .form-container h2 {
            color: #fff;
        }
        h2{
            color:rgb(255, 255, 255);
        }
        input{
            color: black;
        }
        .form-control {
            color: #000;
           
            background-color: rgba(255, 255, 255, 0.8);
            
        }
        .warn{
            color: red;
        }
    </style>
</head>

<body>
        {{>headadmheader}}

    <div class="container mt-5">
        <h2 class="mb-4 text-center">Login</h2>
        <div class="form-container mx-auto" style="max-width: 400px;">
            <form action="/headadmin" method="POST">
               
                <div class="mb-3">
                    <label for="hadmid" class="form-label">Admin ID </label>
                    <input type="text" class="form-control" id="hadmid" name="hadmid" required>
                </div>

               
                <div class="mb-3">
                    <label for="hadmpassword" class="form-label">Password</label>
                    <input type="password" class="form-control" id="hadmpassword" name="hadmpassword" required>
                </div>
                <button type="submit" class="btn btn-primary w-100">Login</button>

                <div id="messages">
                    {{#if success}}
                    <div class="alert alert-success">{{success}}</div>
                    {{/if}}
                    {{#if warn}}
                    <div class="alert alert-warning">{{warn}}</div>
                    {{/if}}
                </div>
            </form>
        </div>
    </div>
    <script src="../public/js/bootstrap.bundle.js"></script> 
{{>headadminfooter}}
</body>

</html>
<script>
    if (window.history.replaceState) {
        window.history.replaceState(null, null, window.location.href);
    }
</script>