<div class="card text-center bg-dark ftxt">
    <div class="card-header">
        <h3>
            Head Admin Panel
        </h3>
    </div>
    <div class="card-body">
        <h5 class="card-title">Developed By Omm Prakash Sahu</h5>
        <p class="card-text">In case any issue --> <a href="mailto:opsommprakash+GITAAlumniHelp@gmail.com">Mail to Admin</a>. All Rights Reserved @2025</p>
    </div>
</div>

<style>
    html, body {
        height: 100%;
        margin: 0;
        display: flex;
        flex-direction: column;
    }

    .content {
        flex-grow: 1;
    }

    .ftxt {
        color: rgb(81, 255, 0);
    }

    h3 {
        color: yellow;
    }

    a {
        margin: 10px;
    }

    .card {
        margin-top: auto;
    }

    .card-body {
        background-color: #212529;
    }
</style>
